body{
    background-color: #404c4c;
    margin: 0;
}
.container{
    display: flex;
    height: 100%;
}
.coins{
    width: 22%; 
    display: grid;
    grid-template-rows: 110px 507px;
    border-right: 5px solid rgb(71, 18, 18);
}
.head__coins{
    display: flex;
    background-image: url("../img/head.jpeg");
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.head__coins-tit{
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head__coins-stats{
    background-image: url("../img/fondostats.jpg");
    background-attachment: fixed;
    width: 100%;
}
.coins__stats{
    padding-top: 19px;
    background-color: #404c4c8c;
    align-items: center;
    text-align: center;
    height: 488px;
}
.coins__stats .stats{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.coins__stats .p-stats{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.enemys{
    width: 60%;
    height: 76%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #404c4c;
    z-index: 200;
}
.bg-white{
    background-color: #ffffff;
    width: 100%;
    padding-left: 25px;
}
.bg{
    background-color: #404c4c;
    padding-top: 10px;
    padding-bottom: 17px;
    margin-left: -25px;
    padding-left: 25px;
    display: flex;
    justify-content: center;
}
.head__enemy{
    height: 110px;
    width: 100%;
    background-image: url("../img/enemy.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 10, 43);
    font-weight: bold;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enemy{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 50px 420px;
    grid-template-columns: 50px max-content;
}
.enemy__hearth{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 50px;
    height: 50px;
}
.enemy__bars-bg{
    /* grid-row: 2/3; */
    width: 490px;
    height: 50px;
    clip-path: polygon(0 25%, 96% 25%, 96% 48%, 96% 76%, 0 76%);  
    background-color: rgb(0, 0, 0);
    z-index: 50;
}
.enemy__bars-life{
    /* grid-row: 2/3; */
    width: 490px;
    height: 48px;
    clip-path: polygon(0 33%, 96% 33%, 96% 48%, 96% 70%, 0 70%);
    background: rgb(255, 0, 0);
    z-index: 100;
}
.enemy__bars-life-pre{
    width: 490px;
    height: 48px;
    clip-path: polygon(0 33%, 96% 33%, 96% 48%, 96% 70%, 0 70%);
    background: rgb(255, 255, 255);
    z-index: 80;
    transition: width 0.5s;
}
.enemy__viegos{
    grid-column: 2/3;
    z-index: 150;
    height: 430px;
}
.enemy__viego{
    width: 490px;
    height: 430px;
    z-index: 100;
}
.store{
    width: 22%;
    border-left: 5px solid rgb(71, 18, 18);
    display: grid;
    grid-template-rows: 110px 507px;
}
.head__store{
    display: flex;
    background-image: url("../img/head.jpeg");
    width: 100%;
    align-items: center;
    justify-content: center;
}
.store__items{
    background-image: url("../img/store.jpg");
    background-size: cover;
    width: 100%;
    overflow-y: auto;
}
.store__item{
    background-image: url("../img/cartel.png");
    background-size: cover;
    margin: 5px;
    margin-top: 0;
    box-shadow: 0 0 5px 3px rgb(34, 34, 34);
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.5s;
}
.store__item:hover{
    box-shadow: 0 0 5px 3px rgb(156, 156, 156);
}
.bg__item{
    background-color: #404c4c61;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.5s, background-color 0.5s;
}
.bg__item:hover{
    background-color: transparent;
    opacity: 1;
}
.price{
    height: 15%;
    text-align: center;
    padding: 11px 15px;
}
@media (max-width:1100px) {
    .coins{
        grid-template-rows: 110px 537px;
    }
    .coins__stats{
        height: 518px;
    }
    .head__enemy{
        font-size: 33px;
    }
    .store{
        grid-template-rows: 110px 537px;
    }
}
@media (max-width:950px) {
    .coins{
        grid-template-rows: 110px 537px;
    }
    .coins__stats{
        height: 520px;
    }
    .enemy{
        grid-template-rows: 50px 380px;
        grid-template-columns: 50px max-content;
    }
    .head__enemy{
       font-size: 30px;
    }
    .enemy__hearth{
        width: 40px;
        height: 40px;
    }
    .enemy__bars-bg{
        width: 430px;
        height: 40px;
    }
    .enemy__bars-life{
        width: 430px;
        height: 38px;
    }
    .enemy__bars-life-pre{
        width: 430px;
        height: 38px;
    }
    .bg-white{
        width: 90%;
        padding-left: 30px;
        padding-right: 23px;
    }
    .bg{
        width: 90%;
        margin-right: 5px;
        margin-left: -30px;
        padding-left: 54px;
        padding-right: 50px;
        padding-bottom: 48px;
    }
    .enemy__viegos{
        grid-column: 2/3;
        z-index: 150;
        height: 400px;
    }
    .enemy__viego{
        width: 450px;
        height: 400px;
        z-index: 100;
    }
    .store{
        grid-template-rows: 110px 537px;
    }
}
@media (max-width:800px) {
    .coins{
        grid-template-rows: 110px 565px;
    }
    .coins__stats{
        height: 543px;
    }
    .head__enemy{
       font-size: 20px;
    }
    .enemy__hearth{
        width: 30px;
        height: 30px;
    }
    .enemy__bars-bg{
        width: 400px;
        height: 30px;
    }
    .enemy__bars-life{
        width: 400px;
        height: 28px;
    }
    .enemy__bars-life-pre{
        width: 420px;
        height: 28px;
    }
    .bg-white{
        width: 90%;
        padding-left: 20px;
        padding-right: 23px;
    }
    .bg{
        width: 90%;
        margin-right: 5px;
        margin-left: -20px;
        padding-left: 50px;
        padding-right: 35px;
        padding-bottom: 116px;
    }
    .enemy__viegos{
        z-index: 150;
        height: 310px;
        width: 310px;
    }
    .enemy__viego{
        width: 350px;
        height: 310px;
        z-index: 100;
    }
    .store{
        grid-template-rows: 110px 565px;
    }
}
@media (max-width:700px) {
    .coins__stats .p-stats{
        font-size: 20px;
    }
    .price{
        font-size: 15px;
    }
}
@media (max-width:600px) {
    .head__enemy{
       font-size: 19px;
    }
    .enemy{
        grid-template-rows: 30px 380px;
        grid-template-columns: 30px max-content;
    }
    .enemy__hearth{
        width: 30px;
        height: 30px;
    }
    .enemy__bars-bg{
        width: 310px;
        height: 30px;
    }
    .enemy__bars-life{
        width: 310px;
        height: 28px;
    }
    .enemy__bars-life-pre{
        width: 310px;
        height: 28px;
    }
    .enemy__viego{
        height: 260px;
        width: 290px;
    }
    .enemy__viegos{
        width: 290px;
    }
    .bg-white{
        width: 90%;
        padding-left: 13px;
        padding-right: 9px;
    }
    .bg{
        width: 90%;
        margin-right: 5px;
        margin-left: -20px;
        padding-left: 40px;
        padding-right: 25px;
        padding-bottom: 135px;
    }
}
@media (max-width:425px) {
    .container{
        flex-wrap: wrap;
        width: 100%;
    }
    .coins{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: none;
    }
    .head__coins{
        width: 100%;
        height: 80px;
    }
    .coins__stats{
        height: 610px;
    }
    .head__coins-tit{
        font-size: 40px;
    }
    .head__coins-stats{
        width: 100%;
        height: 100px;
        overflow-y: scroll;
    }
    .head__coins-stats .stats{
        font-size: 40px;
    }
    .head__coins-stats .p-stats{
        font-size: 35px;
    }
    .enemys{
        width: 100%;
    }
    .head__enemy{
        font-size: 23px;
    }
    .bg-white{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .bg{
        width: 100%;
        height: 350px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .enemy{
        width: max-content;
        margin: 0;
        grid-template-rows: 40px 250px;
        grid-template-columns: 40px 250px;
    }
    .enemy__hearth{
        width: 40px;
        height: 40px;
    }
    .enemy__bars-bg{
        width: 260px;
        height: 40px;
    }
    .enemy__bars-life{
        width: 260px;
        height: 38px;
    }
    .enemy__bars-life-pre{
        width: 260px;
        height: 38px;
    }
    .enemy__viego{
        height: 220px;
        width: 240px;
    }
    .store{
        width: 100%;
        border: none;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
    }
    .head__store{
        height: 100px;
    }
    .store__items{
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .store__item{
        width: 80%;
    }
}
@media (max-width:375px){
    .head__coins{
        height: 80px;
        width: 100%;
    }
    .coins__stats{
        height: 610px;
        width: 100%;
    }
    .head__coins-tit{
        font-size: 40px;
    }
    .head__coins-stats{
        height: 100px;
        width: 100%;
    }
    .head__coins-stats .stats{
        font-size: 40px;
    }
    .head__coins-stats .p-stats{
        font-size: 35px;
    }
    .head__enemy{
        font-size: 23px;
        width: 100%;
    }
    .bg{
        height: 350px;
        width: 100%;
    }
    .enemy{
        grid-template-rows: 40px 250px;
        grid-template-columns: 40px 250px;
    }
    .enemy__hearth{
        width: 40px;
        height: 40px;
    }
    .enemy__bars-bg{
        width: 260px;
        height: 40px;
    }
    .enemy__bars-life{
        width: 260px;
        height: 38px;
    }
    .enemy__bars-life-pre{
        width: 260px;
        height: 38px;
    }
    .enemy__viego{
        height: 220px;
        width: 240px;
    }
    .store{
        width: 100%;
        height: 300px;
    }
    .head__store{
        width: 100%;
        height: 100px;
    }
    .store__items{
        width: 100%;
        height: 200px;
    }
    .store__item{
        width: 80%;
    }
}
@media (max-width:320px){
    .container{
        width: 100%;
    }
    .head__coins{
        width: 100%;
        height: 80px;
    }
    .coins__stats{
        width: 100%;
        height: 610px;
    }
    .head__coins-tit{
        font-size: 40px;
    }
    .head__coins-stats{
        width: 100%;
        height: 100px;
    }
    .head__coins-stats .stats{
        font-size: 40px;
    }
    .head__coins-stats .p-stats{
        font-size: 35px;
    }
    .head__enemy{
        width: 100%;
        font-size: 23px;
    }
    .bg{
        width: 100%;
        height: 350px;
    }
    .enemy{
        grid-template-rows: 40px 250px;
        grid-template-columns: 40px 250px;
    }
    .enemy__hearth{
        width: 40px;
        height: 40px;
    }
    .enemy__bars-bg{
        width: 260px;
        height: 40px;
    }
    .enemy__bars-life{
        width: 260px;
        height: 38px;
    }
    .enemy__bars-life-pre{
        width: 260px;
        height: 38px;
    }
    .enemy__viego{
        height: 220px;
        width: 240px;
    }
    .store{
        width: 100%;
        height: 300px;
    }
    .head__store{
        width: 100%;
        height: 100px;
    }
    .store__items{
        width: 100%;
        height: 200px;
    }
    .store__item{
        width: 80%;
    }
}